APP_NAME=PathFinder-Ship
DEFAULT_USER_NAME=Passenger
BOT_NAME=Passenger-Bot
DEBUG=false
API_HOST=0.0.0.0
API_PORT=8000
FRONTEND_ORIGIN=http://localhost:5173
PHOTO_DIR=data/web_out/photo
DETECT_DIR=data/web_out/detect
MAX_FILES_PER_DIR=10
